<p>Hey there,</p>

<p>We've received an contact submission via the website with the following message:</p>

<%= sanitize @contact.message %>

<p>Thanks,</p>

<a href="https://www.findahelpline.com">Find A Helpline Team</a>
