<%= semantic_form_for :csv,
                      url: import_csv_organizations_path,
                      html: { multipart: true },
                      builder: ActiveAdmin::FormBuilder do |f| %>
  <div class="panel">
    <%= f.inputs 'Details' do %>
      <li class="input">
        <strong>A CSV file with the following column headings is required:</strong>
        <ul>
          <li>
            timezone
            <br><small><em>timezone city name e.g Auckland</em></small>
          </li>
          <li>
            country_code
            <br><small><em>ISO3166 Two character country code</em></small>
          </li>
          <li>region</li>
          <li>name</li>
          <li>phone_word</li>
          <li>phone_number</li>
          <li>sms_word</li>
          <li>sms_number</li>
          <li>
            chat_url
            <br><small><em>full URL including http(s)://</em></small>
          </li>
          <li>
            url
            <br><small><em>full URL including http(s)://</em></small>
          </li>
          <li>notes</li>
          <li>
            human_support_type_list
            <br><small><em>tags separated with a comma</em></small>
          </li>
          <li>
            issue_list
            <br><small><em>tags separated with a comma</em></small>
          </li>
          <li>
            category_list
            <br><small><em>tags separated with a comma</em></small>
          </li>
          <li>
            {day}_open
            <br><small><em>HH:MM in 24 hour time when organization opens (day e.g monday)</em></small>
          </li>
          <li>
            {day}_close
            <br><small><em>HH:MM in 24 hour time when organization closes (day e.g monday)</em></small>
          </li>
        </ul>
      </li>
      <%= f.input :file, as: :file %>
    <% end %>
    <%= f.actions %>
  </div>
<% end %>
